*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "buckin";
    src: url('../fonts/Ckhans\ Fonts_Buckin_Bold_Demo.otf');
}
 
@font-face {
    font-family: "merge";
    src: url('../fonts/Merge\ W00\ Bold.ttf');
}

@font-face {
    font-family: "gentyDemo";
    src: url('../fonts/GentyDemo-Regular.otf');
}

@font-face {
    font-family: "amiger";
    src: url('../fonts/AMIGER_CARTOON-NORMAL-400-100.OTF');
}
 
:root{  
    --font-buckin:"buckin", sans-serif;  
    --font-merge:"merge", sans-serif;  
    --font-gentyDemo:"gentyDemo", sans-serif;  
    --font-amiger:"amiger", sans-serif;  
 
    --gradient1:linear-gradient(96.66deg, #E0B5FC -14.92%, #FFD87D 60.94%, #554CFF 139.9%);
    --gradient2:linear-gradient(96.66deg, #FFFF7D -14.92%, #E0B5FC 69.46%, #FF4C9D 122.87%); 
    --gradient3:linear-gradient(96.52deg, #7DE0FF -14.96%, #FF8383 56.76%, #85FF4C 119.1%);
}

body{
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
 
    font-family: var(--font-gentyDemo);
    color: white;
}
 
.unbounded_font {
  font-family: "Unbounded", sans-serif; 
}
 
.gluten_font {
  font-family: "Gluten", cursive; 
}

.sol_img {
    filter: grayscale(100%) brightness(200%);
}

.mirror_img {
    transform: scaleX(-1); 
}


/* animation */
.float_animation{
    animation: float_animation 3s linear infinite ;
}

@keyframes float_animation {
    0%,100%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(3%);
    }
}

.cloud_animation{
    animation: cloud_animation 10s linear infinite ;
}

@keyframes cloud_animation {
    0%,100%{
        transform: translateX(10%);
    }
    50%{
        transform: translateX(-10%);
    }
}

.cloud_animation_reverse{
    animation: cloud_animation_reverse 10s linear infinite ;
}

@keyframes cloud_animation_reverse {
    0%,100%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(10%);
    }
}